@media (min-width: 38rem) {
    #discover-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "a b"
            "c d"
            "e f"
            "g h";
    }

    #discover-cards div img {
        transition: transform 0.3s ease;
    }

    #discover-cards div img:hover {
        transform: scale(1.06);
    }
}